body {
    background-color: black;
    background-image: url("imageSecun/iron_round_shield.png");
}

#titulin {
    position: absolute;
    top:30px;
    left:0px;
    right:0px;
    background-color: black;
    text-align: center;
	z-index: +2;
}

h1, h2 {
    color: white;
	text-align:center;
}

div {
	margin-top:200px;
}

section {
background-color:black;
padding:10px;
margin: 50px;
}	

table {

margin: 0 auto;
text-align:center;
color:white;
background-color:black;
	
}	

.active {
background-color:red;	
}	

p {
color:white;	
}	gn